DerivedData
.DS_Store
*.xcuserstate
UserInterfaceState.xcuserstate
*.xcbkptlist
Breakpoints_v2.xcbkptlist
/Anagram/Anagram.xcodeproj/project.xcworkspace/xcuserdata/apo.xcuserdatad/UserInterfaceState.xcuserstate
